<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender">
        <minimumEventLevel>ERROR</minimumEventLevel>
        <minimumBreadcrumbLevel>INFO</minimumBreadcrumbLevel>
        <minimumLevel>OFF</minimumLevel>
    </appender>
    <appender name="SENTRY_LOGS" class="io.sentry.logback.SentryAppender">
        <options>
            <logs>
                <enabled>true</enabled>
            </logs>
        </options>
        <minimumLevel>INFO</minimumLevel>
        <minimumEventLevel>OFF</minimumEventLevel>
        <minimumBreadcrumbLevel>OFF</minimumBreadcrumbLevel>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SENTRY"/>
    </root>
    <logger name="io.netty" level="INFO"/>
    <logger name="CallLogging" level="INFO" additivity="true">
        <appender-ref ref="SENTRY_LOGS"/>
    </logger>
</configuration>